@font-face {
  font-family: 'nexon';
  src: url('../resource/font/NEXONLv1GothicRegular.ttf');
}

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'nexon';
}
#section {
  height: 100%;
}

.nexon {
  position: fixed;
  left: 50%;
  width: 100%;
  transform: translate(-50%, 0);
  padding: 10px;
  background-color: black;
  color: white;
  text-align: center;
  font-size: 0.8rem;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
.logo img {
  width: 300px;
  height: 100px;
  margin-top: 125px;
  margin-bottom: -25px;
}
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  border-bottom: 1px solid #a7a7a7;
  gap: 15px;
}
.nav a {
  font-size: 0.9rem;
  text-decoration: none;
  color: rgb(120, 120, 120);
  padding: 8px;
}
.nav a:nth-child(2) {
  font-weight: 600;
  color: black;
  border-bottom: 2px solid black ;
}
.nav a:hover {
  color:black;
  font-weight: bold;
  border-bottom: 2px solid black;
  transition: all 0.03s ease; 
}
.nav_info {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px; 
  margin-bottom: 40px;
}
.nav_p {
  font-size: 0.8rem;
  color:#a7a7a7
}

.nav_p span {
  font-weight: 700;
}

.input_id {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.oneid {
  width: 226px;
  height: 40px;
  border: 1px solid #a7a7a7;
  border-radius: 5px;
}
.oneid::placeholder {
  padding-left: 10px;
}
.twoid {
  width: 226px;
  height: 40px;
  border: 1px solid #a7a7a7;
  border-radius: 5px;
}
.twoid::placeholder {
  padding-left: 10px;
}

.login_btn {
  margin-top: 10px;
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}
.login {
  padding: 15px;
  width: 460px;
  cursor: pointer;
  color: white;
  background-color: black;
  font-weight: 800;
  border: 0px;
  border-radius: 5px;
}

.login:hover {
  background-color: rgb(61, 61, 222);
  transition: all 0.3s ease;
}

.info {
  width: 460px;
  display: flex;
  flex-direction: column;
  border-top: 1px solid #a7a7a7;
  padding-top: 20px;
  font-size: 0.7rem;
}

.info p {
  margin-bottom: 5px;
  color:#a7a7a7;
}
.info p:first-child {
  color:black;
  font-weight: 500;
}
.info_head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.info_head a {
  color: #a7a7a7;
  font-weight: 500;
  text-decoration: none;
}
.info_head a:hover {
  transition: all 0.2s ease;
  color: blue;
}

#footer {
  display: flex;
  justify-content: center;
  align-items: end;
  height: 100px;
  color:#a7a7a7;
  font-size: 0.7rem;
  padding-bottom: 20px;
}