@font-face {
  font-family: 'nexone';
  src: url(../resource/font/NEXONLv1GothicRegular.ttf);
}

*{
  margin: 0;
  padding: 0;
}


body {
  font-family: 'nexone';
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 250px;
}
.logo img {
  width: 300px;
  height: 100px;
}
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  border-bottom: 1px solid #a7a7a7;
  gap: 15px;
}
.nav a {
  font-size: 0.9rem;
  text-decoration: none;
  color: rgb(120, 120, 120);
  padding: 8px;
}
.nav a:nth-child(1) {
  font-weight: 600;
  color: black;
  border-bottom: 2px solid black ;
}
.nav a:hover {
  color:black;
  font-weight: bold;
  border-bottom: 2px solid black;
  transition: all 0.03s ease; 
}

.input_id {
  /* display: flex; */
  flex-direction: column;
  /* gap: 10px; */
}
.oneid {
  width: 100%;
  height: 60px;
  border: 1px solid #a7a7a7;
  margin-bottom: 10px;
  border-radius: 5px;
}
.oneid::placeholder {
  padding-left: 10px;
}

.twoid {
  width: 100%;
  height: 60px;
  border: 1px solid #a7a7a7;
  margin-bottom: 10px;
  border-radius: 5px;
}
.twoid::placeholder {
  padding-left: 10px;
}
#uzi {
  margin-bottom: 30px;
}
.login-text {
  margin-left: 8px; 
  cursor: pointer; 
  font-size: 0.8rem;
  color:#363636;
}

.login_btn {
  margin-top: 10px;
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}
.login {
  padding: 15px;
  width: 460px;
  cursor: pointer;
  color: white;
  background-color: black;
  font-weight: 800;
  border: 0px;
  border-radius: 5px;
}

.login:hover {
  background-color: rgb(61, 61, 222);
  transition: all 0.3s ease;
}

.useridpw {
  display: flex;
  gap: 20px;
  margin-top: 10px;
  width: 100%;
}
.security-center {
  margin-left: auto;
}
.useridpw a {
  color:rgb(153, 153, 153);
  text-decoration: none;
  font-size: 0.8rem;
}

.useridpw a:hover {
  color: blue;
}

.useridpw a:last-child {
  color:blue;
}

.or {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
  color:#a7a7a7;
  font-size: 0.9rem;
}
.or::before,
.or::after {
    content: "";
    flex-grow: 1;        
    height: 1px;        
    background: #a7a7a7; 
}

.or::before {
  margin-right: 15px; 
}

.or::after {
  margin-left: 15px;
}

.other {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.other p {
  font-size: 0.9rem;
  font-weight: 700;
}

img {
  width: 10px;
  height: 10px;
}

.other_site {
  display: flex;
  justify-content: center;
  align-items: center;
}
.other_site img {
  width: 70px;
  height: 70px;
}

#footer {
  display: flex;
  justify-content: center;
  align-items: end;
  height: 100px;
  color:#a7a7a7;
  font-size: 0.7rem;
  padding-bottom: 20px;
}